@page "/test"

<PageTitle>Einstellungstest</PageTitle>

<h1>Einstellungstest [Hier Testname einfügen]</h1>

<div>
    <input class="form-check-input" type="radio" name="radioField" id="Answer1">
    <label class="form-check-label" for="Answer1">Antwort 1</label>
    <input class="form-check-input" type="radio" name="radioField" id="Answer2">
    <label class="form-check-label" for="Answer2">Antwort 1</label>
    <input class="form-check-input" type="radio" name="radioField" id="Answer3">
    <label class="form-check-label" for="Answer3">Antwort 1</label>
    <input class="form-check-input" type="radio" name="radioField" id="Answer4">
    <label class="form-check-label" for="Answer4">Antwort 1</label>
</div>

@code {

}
